@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 400; }

body {
  background: #343541; }

.app {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: 100vh; }
  @media only screen and (max-width: 37.5em) {
    .app {
      grid-template-columns: 100vw;
      grid-template-rows: 4rem calc(100vh - 4rem); } }

.chat {
  position: relative;
  background-color: #343541; }
  .chat ::-webkit-scrollbar {
    width: 1.2rem; }
  .chat ::-webkit-scrollbar-track {
    background-color: #202128; }
  .chat ::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #40414f; }
  .chat__overlay {
    height: 10rem;
    background: linear-gradient(to top, #343541 55%, transparent);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
  .chat__form {
    display: block;
    width: 76rem;
    margin-inline: auto;
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .chat__form {
        width: 85%; } }
  .chat__input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    background-color: #40414f;
    height: 2.6rem;
    margin-inline: auto;
    border-radius: 0.6rem;
    border: 1px solid #202128;
    outline: none;
    padding: 2.2rem 1.5rem;
    font-size: 1.6rem;
    color: #fff; }
  .chat__icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;
    background-size: 2rem 2rem;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .chat__icon--svg {
      width: 1.6rem;
      height: 1.6rem; }
    .chat__icon:hover {
      background-color: #202128; }

.list {
  list-style: none;
  overflow-y: scroll;
  height: 100%; }
  .list__item {
    padding: 2.8rem 0;
    width: 100%;
    margin-inline: auto;
    font-size: 1.6rem;
    color: #fff; }
    .list__item[data-index="gpt"], .list__item[data-index="thinking"] {
      background-color: #40414f;
      min-height: 8rem; }
    .list__item:last-child {
      margin-bottom: 17rem; }
  .list__content {
    width: 76rem;
    margin-inline: auto;
    position: relative; }
    .list__content-icon {
      position: absolute;
      top: -0.6rem;
      left: -5rem;
      width: 2.6rem;
      height: 2.6rem; }
    @media only screen and (max-width: 75em) {
      .list__content {
        width: 80%; } }
    @media only screen and (max-width: 62.5em) {
      .list__content {
        width: 70%; } }
    @media only screen and (max-width: 50em) {
      .list__content {
        width: 65%; } }

.sidebar {
  background-color: #202128;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__login {
    cursor: pointer;
    display: block;
    background-color: rgba(64, 65, 79, 0.36);
    padding: 1.2rem 1.4rem 1.2rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    width: 97%;
    margin-inline: auto;
    border: 1px solid #40414f;
    transition: all 0.1s;
    border-radius: 0.8rem;
    margin-bottom: 2rem; }
    .sidebar__login:hover {
      background-color: #40414f; }

.form {
  width: 100%;
  height: 60%;
  padding-block: 1.8rem; }
  .form__list {
    height: 85%;
    overflow-y: hidden;
    overflow-y: scroll;
    transition: all 0.3s; }
    .form__list::-webkit-scrollbar {
      width: 1.2rem; }
    .form__list::-webkit-scrollbar-thumb {
      border-radius: 3rem;
      background-color: transparent; }
    .form__list:hover::-webkit-scrollbar-thumb {
      background-color: #40414f; }
  .form__item {
    cursor: pointer;
    height: 5rem;
    margin-left: 1rem;
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    align-items: center; }
    .form__item:hover {
      background-color: #343541; }
  .form__radio {
    display: none; }
  .form__label {
    cursor: pointer;
    display: block;
    padding: 1.2rem 1.4rem 1.2rem 2rem;
    height: 100%;
    font-size: 1.6rem;
    color: #fff;
    width: 97%;
    margin-inline: auto;
    transition: all 0.1s;
    border: 1px solid transparent; }
    .form__label--newchat {
      border-color: #40414f;
      border-radius: 0.8rem;
      margin-bottom: 2rem;
      height: auto;
      padding: 1.2rem 1.4rem 1.2rem 2rem; }
  .form__delete {
    cursor: pointer;
    background-color: transparent;
    width: 3rem;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    border: none;
    padding-right: 0.3rem; }
    .form__delete-icon {
      width: 100%;
      height: 3rem;
      border-radius: 0.5rem;
      transition: all 0.1s; }
      .form__delete-icon:hover {
        transform: scale(0.9); }
  .form__radio:checked + .form__label + .form__delete {
    opacity: 1;
    background-color: rgba(64, 65, 79, 0.36);
    visibility: visible; }
  .form__radio:checked + .form__label {
    background-color: rgba(64, 65, 79, 0.36); }
