.chat {
  position: relative;
  background-color: $color-primary;

  ::-webkit-scrollbar {
    width: 1.2rem;
  }

  ::-webkit-scrollbar-track {
    background-color: $color-primary-dark;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: $color-primary-light;
  }

  &__overlay {
    height: 10rem;
    background: linear-gradient(to top, $color-primary 55%, transparent);

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

  &__form {
    display: block;
    width: 76rem;
    margin-inline: auto;
    position: relative;

    @media only screen and(max-width: $bp-large) {
      width: 85%;
    }
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    background-color: $color-primary-light;
    height: 2.6rem;
    margin-inline: auto;
    border-radius: 0.6rem;
    border: 1px solid $color-primary-dark;
    outline: none;
    padding: 2.2rem 1.5rem;
    font-size: $font-size--primary;
    color: $font-color;
  }

  &__icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;
    background-size: 2rem 2rem;
    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--svg {
      width: 1.6rem;
      height: 1.6rem;
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.list {
  list-style: none;
  overflow-y: scroll;
  height: 100%;

  &__item {
    padding: 2.8rem 0;
    width: 100%;
    margin-inline: auto;
    font-size: $font-size--primary;
    color: $font-color;

    // &[data-index="user"] {
    //   background-color: red;
    // }

    &[data-index="gpt"],
    &[data-index="thinking"] {
      background-color: $color-primary-light;
      min-height: 8rem;
    }

    &:last-child {
      margin-bottom: 17rem;
    }
  }

  &__content {
    width: 76rem;
    margin-inline: auto;
    position: relative;

    &-icon {
      position: absolute;
      top: -0.6rem;
      left: -5rem;
      width: 2.6rem;
      height: 2.6rem;
    }

    @media only screen and(max-width: $bp-largest) {
      width: 80%;
    }

    @media only screen and(max-width: $bp-large) {
      width: 70%;
    }

    @media only screen and(max-width: $bp-medium) {
      width: 65%;
    }
  }
}
